.main-container {
	height: auto;
	overflow-y: scroll;
	margin: 1vh;
	padding: 1vh;
}

.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.box-row {
	flex-direction: row;
}

.box-row > * {
	padding: 0 5vw;
}
