.main-container {
	height: auto;
	overflow-y: scroll;
	margin: 1vh;
	padding: 1vh;
}

.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.box-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	justify-content: center;
	padding-top: 5vh;
}

.box-row > * {
	padding-left: 5vw;
	padding-right: 5vw;
}
