.header {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	top: 0;
	padding: 1vw;
	background-color: black;
	width: 100%;
	min-height: 60px;
	justify-content: flex-start;
}

.header .breadscumb {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	justify-content: center;
}
