.container {
	display: block;
	cursor: pointer;
	width: 35px;
}

.bar1,
.bar2,
.bar3 {
	background-color: #818181;
	width: 35px;
	height: 5px;
	margin: 6px 0;
	transition: 0.4s;
}

/* When you mouse over the navigation links, change their color */
.container:hover > .bar1,
.container:hover > .bar2,
.container:hover > .bar3 {
	background-color: #f1f1f1;
	cursor: pointer;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}
